[Unit]
Description=Soft shutdown for Raspberry Pi with Pi Supply

[Service]
Type=simple
ExecStart=/usr/bin/python2 /usr/share/softshut/softshut.py

[Install]
WantedBy=default.target
